<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Tela entrada</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
    img{border-radius: 10px;}
    </style>
</head>
<body>

	<style>
body {
  background-image: url("");
  background-repeat: no-repeat;
  background-size:100%;
}
</style>
	
	<p>
		<h1>ACAD MOVIE</h1>
	</p></br></br>

	

	<a href="tela-videos.html"><img width="260px" height="170px" title="" style="margin-left: 70px" src="imagens_tela/azul-biologicas.jpg"/></a></br></br>

	

		<h2><center>Ao clicar, você será redirecionado para a página de vídeos!</center></h2>
    
    <footer>
    <div id="footercontainer"></div>
    <div id="rodape">﻿<p> Contate-nos - E-mail: LePereira8@hotmail.com</div>﻿</p>
    <div id="rodape">﻿<p> © 2019 - Todos os Direitos Reservados.</div>﻿</p>
    </footer>

  


</body>
</html>