<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tela inicial</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">

<style>
body {
  background-image: url("imagemvideo.png");
  background-repeat: no-repeat;
  background-size: 1400px 590px;
}
</style>
</head>
<body>

<p><font size="30">
	<center><h1>Acad Movie</h1></center></body></br>
    </p></font>

    <p class="link">
	<a href="login.html"> FAZER LOGIN </a>
    </p></br></br></br></br></br>

    <p class="link">
	<a href="cadastro.html"> CADASTRE-SE </a>
    </p></br></br></br></br>
 


    <footer>
    <div id="footercontainer"> </div>  
    <div id="rodape">﻿<p> Contate-nos - E-mail: LePereira8@hotmail.com</div>﻿</p>
    <div id="rodape">﻿<p> © 2019 - Todos os Direitos Reservados.</div>﻿</p>
        		
    </footer>	

</body>
</html>
